@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent

<td @attributes="AdditionalAttributes" class="@(Options.ToBootstrapRowOrDataClass()) @(Classes)">
    @(ChildContent)
</td>

@code{
    [Parameter] public TableOptions Options { get; set; }
}