@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent
<button type="button" @attributes="AdditionalAttributes" class="btn @(Variant.ToBootstrapClass()) @(Size.ToBootstrapClass()) @(Classes)" @ref="HtmlRef">
    @(ChildContent)
</button>