@using Wader.Layout.Containers
@using Wader.Site.Layout.Components
@inherits LayoutComponentBase
<div class="page">
    <SiteNavbar/>
    <main role="main">
        <BsContainer>
            @(Body)
        </BsContainer>
    </main>
    <SiteFooter/>
</div>