@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent

<span @attributes="AdditionalAttributes" class="@(Classes)" @ref="HtmlRef">
    @(ChildContent)
</span>


@code {
    [Parameter] public BsDisplayHeadingType Type { get; set; }
}
