@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent

<span @attributes="AdditionalAttributes" class="@(Type.ToBootstrapClass()) @(Classes)">
    @(ChildContent)
</span>


@code {
    [Parameter] public DisplayHeadingType Type { get; set; }
}