@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent
<div @attributes="AdditionalAttributes" class="accordion @(DisplayStyle) @(Classes)">
    <CascadingValue Value="_accordionContext">
        @(ChildContent)
    </CascadingValue>
</div>