@using RiRiSharp.Bootstrap.BaseComponents
@inherits BsChildContentComponent

<button type="button" @onclick="ToggleAsync" @attributes="AdditionalAttributes" class="accordion-button @(GetCollapsedClass()) @(Classes)">
    @(ChildContent)
</button>