@using RiRiSharp.Bootstrap.BaseComponents
@inherits BsChildContentComponent
<div @attributes="AdditionalAttributes" class="accordion-collapse collapse @(GetShowClass()) @(Classes)">
    @(ChildContent)
</div>