@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent
<li @attributes="RenderAttributes">
    <CascadingValue Value="DropdownOptions">
        @(ChildContent)
    </CascadingValue>
</li>
