@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent

<div @attributes="RenderAttributes" @ref="HtmlRef">
    <CascadingValue Value="Mode">
        @(ChildContent)
    </CascadingValue>
</div>