@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent
<span @attributes="AdditionalAttributes" class="badge @(PillShapeClass) @(Background.ToBootstrapClass()) @(Classes)" @ref="HtmlRef">
    @(ChildContent)
</span>