@using RiRiSharp.Bootstrap.BaseComponents
@inherits BsChildContentComponent
<div @attributes="AdditionalAttributes" class="accordion-collapse collapse @(Classes)" @ref="_accordionCollapseRef">
    @(ChildContent)
</div>