@using RiRiSharp.Bootstrap.BaseComponents
@inherits BsChildContentComponent

<button type="button" @onclick="ToggleAsync" @attributes="AdditionalAttributes" class="accordion-button @(GetInitialCollapsedClass()) @(Classes)" @ref="htmlRef">
    @(ChildContent)
</button>