@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent
<div @attributes="AdditionalAttributes" class="accordion-item @(Classes)" @ref="HtmlRef">
    <CascadingValue Value="AccordionItemContext">
        @(ChildContent)
    </CascadingValue>
</div>
