@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent
<div @attributes="RenderAttributes" @ref="HtmlRef">
    <CascadingValue Value="AccordionContext">
        @(ChildContent)
    </CascadingValue>
</div>
