@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent
<div @attributes="AdditionalAttributes" class="@(Classes)" @ref="HtmlRef">
    <CascadingValue Value="AccordionContext">
        @(ChildContent)
    </CascadingValue>
</div>
