@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent
<div @attributes="AdditionalAttributes" class="accordion @(DisplayStyle.ToBootstrapClass()) @(Classes)" @ref="HtmlRef">
    <CascadingValue Value="AccordionContext">
        @(ChildContent)
    </CascadingValue>
</div>
