@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent
<div @attributes="AdditionalAttributes" class="accordion-item @(Classes)" @ref="htmlRef">
    <CascadingValue Value="_accordionItemContext">
        @(ChildContent)
    </CascadingValue>
</div>