@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent
<div @attributes="RenderAttributes">
    <CascadingValue Value="AccordionContext">
        @(ChildContent)
    </CascadingValue>
</div>
