@inherits Wader.BaseComponents.BsChildContentComponent

@switch (Type)
{
    case BsPageLinkType.Anchor:
        <a @attributes="RenderAttributes">
            @(ChildContent)
        </a>
        break;
    case BsPageLinkType.Span:
        <span @attributes="RenderAttributes">
            @(ChildContent)
        </span>
        break;
    default:    
        throw new ArgumentOutOfRangeException();
}
