@page "/"
@using RiRiSharp.Bootstrap.Components.Accordion

@code {
    private BsAccordion _accordion1;
    private BsAccordion _accordion2;
    private BsAccordionItem _accordionItem1;
    private BsAccordionItem _accordionItem2;
}
<PageTitle>Home</PageTitle>

<h3>Accordion test 1</h3>
<BsAccordion AlwaysOpen="true" @ref="_accordion1">
    <BsAccordionItem>
        <BsAccordionHeader>
            <BsAccordionButton>
                Accordion item #1
            </BsAccordionButton>
        </BsAccordionHeader>
        <BsAccordionCollapse>
            <BsAccordionBody>
                Body number one.
            </BsAccordionBody>
        </BsAccordionCollapse>
    </BsAccordionItem>
    <BsAccordionItem @ref="_accordionItem1">
        <BsAccordionHeader>
            <BsAccordionButton>
                Accordion item #2
            </BsAccordionButton>
        </BsAccordionHeader>
        <BsAccordionCollapse>
            <BsAccordionBody>
                Body number two.
            </BsAccordionBody>
        </BsAccordionCollapse>
    </BsAccordionItem>
    <BsAccordionItem>
        <BsAccordionHeader>
            <BsAccordionButton>
                Accordion item #3
            </BsAccordionButton>
        </BsAccordionHeader>
        <BsAccordionCollapse>
            <BsAccordionBody>
                Body number three.
            </BsAccordionBody>
        </BsAccordionCollapse>
    </BsAccordionItem>
</BsAccordion>
<button class="btn btn-primary" @onclick="() => _accordion1.CollapseAllAsync()">
    Collapse All (1)
</button>
<button class="btn btn-primary" @onclick="() => _accordion1.ShowAllAsync()">
    Show All (1)
</button>
<button class="btn btn-primary" @onclick="() => _accordion1.CollapseAllButOneAsync(_accordionItem1)">
    Show All But One(1)
</button>
<button class="btn btn-primary" @onclick="() => _accordionItem1.ToggleAsync()">
    Toggle Item 2 (1)
</button>
<button class="btn btn-primary" @onclick="() => _accordionItem1.ShowAsync()">
    Show Item 2 (1)
</button>
<button class="btn btn-primary" @onclick="() => _accordionItem1.CollapseAsync()">
    Collapse Item 2 (1)
</button>
<h3>Accordion test 2</h3>
<BsAccordion AlwaysOpen="false" @ref="_accordion2">
    <BsAccordionItem InitialCollapsed="false">
        <BsAccordionHeader>
            <BsAccordionButton>
                Accordion item #1
            </BsAccordionButton>
        </BsAccordionHeader>
        <BsAccordionCollapse>
            <BsAccordionBody>
                Body number one.
            </BsAccordionBody>
        </BsAccordionCollapse>
    </BsAccordionItem>
    <BsAccordionItem @ref="_accordionItem2">
        <BsAccordionHeader>
            <BsAccordionButton>
                Accordion item #2
            </BsAccordionButton>
        </BsAccordionHeader>
        <BsAccordionCollapse>
            <BsAccordionBody>
                Body number two.
            </BsAccordionBody>
        </BsAccordionCollapse>
    </BsAccordionItem>
    <BsAccordionItem>
        <BsAccordionHeader>
            <BsAccordionButton>
                Accordion item #3
            </BsAccordionButton>
        </BsAccordionHeader>
        <BsAccordionCollapse>
            <BsAccordionBody>
                Body number three.
            </BsAccordionBody>
        </BsAccordionCollapse>
    </BsAccordionItem>
</BsAccordion>
<button class="btn btn-primary" @onclick="() => _accordion2.CollapseAllAsync()">
    Collapse All (2)
</button>
<button class="btn btn-primary" @onclick="() => _accordion2.ShowAllAsync()">
    Show All (2)
</button>
<button class="btn btn-primary" @onclick="() => _accordion2.CollapseAllButOneAsync(_accordionItem2)">
    Show All But One(2)
</button>
<button class="btn btn-primary" @onclick="() => _accordionItem2.ToggleAsync()">
    Toggle Item 2 (2)
</button>
<button class="btn btn-primary" @onclick="() => _accordionItem2.ShowAsync()">
    Show Item 2 (2)
</button>
<button class="btn btn-primary" @onclick="() => _accordionItem2.CollapseAsync()">
    Collapse Item 2 (2)
</button>