@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent

<div tabindex="-1" aria-hidden="true" @attributes="RenderAttributes" data-bs-backdrop="@(DataBsBackdrop)" data-bs-keyboard="@(DataBsKeyboard)" @ref="HtmlRef">
    @(ChildContent)
</div>