@using RiRiSharp.Bootstrap.Core.Layout.Rows
@inherits TestContext

@code {
    [Fact]
    public void DefaultWorks()
    {
        // Arrange
        var cut = Render(
            @<Row>
                <hr/>
            </Row>
        );

        cut.Find("div").MarkupMatches(
            @<div class="row" diff:ignoreChildren></div>
        );
    }

    [Theory]
    [InlineData(null)]
    [InlineData("")]
    [InlineData("aclass")]
    [InlineData("aclass bclass")]
    [InlineData("aclass blass class")]
    public void PassingClassesWorks(string classes)
    {
        // Arrange
        var cut = Render(
            @<Row Classes="@(classes)">
                <hr/>
            </Row>
        );

        cut.Find("div").MarkupMatches(
            @<div class="row @(classes)" diff:ignoreChildren></div>
        );
    }

    [Theory]
    [InlineData("testAttributeValue")]
    public void ExtraAttributesWorks(string attributeValue)
    {
        var cut = Render(
            @<Row test-attribute="@(attributeValue)">
                <hr/>
            </Row>
        );

        cut.Find("div").MarkupMatches(
            @<div class="row" test-attribute="@(attributeValue)" diff:ignoreChildren></div>
        );
    }
}