@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent

<li @attributes="AdditionalAttributes" class="breadcrumb-item @(ActiveClass) @(Classes)" @ref="HtmlRef">
    @(ChildContent)
</li>