@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent
@typeparam TValue
<option @attributes="AdditionalAttributes" class="@(Classes)" value="@(ValueAsString)" @ref="htmlRef">
    @if (ChildContent is not null)
    {
        @(ChildContent)
    }
    else
    {
        @(ValueAsString)
    }
</option>
