@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent
<div @attributes="AdditionalAttributes" class="d-flex @(Justify.ToBootstrapClass()) @(Classes)" @ref="HtmlRef">
    @(ChildContent)
</div>
