@using RiRiSharp.Bootstrap.Forms.InputGroup
@inherits BunitContext

@code {
    [Theory]
    [InlineData(BsInputGroupSize.Small, "input-group-sm")]
    [InlineData(BsInputGroupSize.Regular, "")]
    [InlineData(BsInputGroupSize.Large, "input-group-lg")]
    public void PassingParametersRendersIntoCorrectBsClass(BsInputGroupSize formSize, string expected)
    {
        // Arrange + Act
        var cut = Render(@<BsInputGroup Size="formSize"><EmptyComponent/></BsInputGroup>);
        
        // Assert
        cut.MarkupMatches(
            $"""<div class="input-group has-validation {expected}"></div>"""
        );
    }
}