@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent
@if (_dismissed) return;
<div role="alert" @attributes="AdditionalAttributes"
     class="@(Classes)" @ref="HtmlRef">
    <CascadingValue Value="AlertContext">
        @(ChildContent) 
    </CascadingValue>
</div>