@inherits BsChildContentComponent
@* has-validation class is added because it is necessary when one wants validation on it, it has no (known) drawbacks,
   therefore we always add it *@
<div @attributes="AdditionalAttributes" class="input-group has-validation @(Size.ToBootstrapClass()) @(Classes)">
    @(ChildContent)
</div>