@inherits BsChildContentComponent

<span @attributes="AdditionalAttributes" class="@(Type.ToBootstrapClass()) @(Classes)">
    @(ChildContent)
</span>

@code {
    [Parameter] public HeadingType Type { get; set; }
}