@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent

<td @attributes="AdditionalAttributes" class="@(Classes)" @ref="HtmlRef">
    @(ChildContent)
</td>

@code{
    [Parameter] public BsTableOptions Options { get; set; }
}
