@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent

<table @attributes="AdditionalAttributes" class="table @(Options.ToBootstrapTableClass()) @(Classes)" @ref="HtmlRef">
    @(ChildContent)
</table>

@code{
    [Parameter] public BsTableOptions Options { get; set; }
}
