@inherits Wader.BaseComponents.BsChildContentComponent

<div tabindex="-1" @attributes="RenderAttributes" data-bs-scroll="@(DataBsScroll)"
     data-bs-backdrop="@(DataBsBackdrop)" @ref="HtmlRef">
    <CascadingValue Value="OffcanvasContext">
        @(ChildContent)
    </CascadingValue>
</div>