@using RiRiSharp.Bootstrap.Core.Layout.GridColumns
@inherits TestContext

@code {
    [Fact]
    public void ColumnRenderingWorksInSingularForm()
    {
        var cut = Render(
            @<GridColumn GridOption="GridColumnOptions.GCol1">
                <EmptyComponent/>
            </GridColumn>);

        cut.MarkupMatches(
            @<div class="g-col-1"></div>);
    }

    [Fact]
    public void ColumnRenderingWorksInListForm()
    {
        var cut = Render(
            @<GridColumn GridOptionsList="[GridColumnOptions.GColSm4, GridColumnOptions.GColMd6]">
                <EmptyComponent/>
            </GridColumn>);

        cut.MarkupMatches(
            @<div class="g-col-sm-4 g-col-md-6"></div>);
    }

    [Fact]
    public void ListColumnOptionTakesPrecedenceOverSingularForm()
    {
        var cut = Render(
            @<GridColumn
                GridOption="GridColumnOptions.GCol1"
                GridOptionsList="[GridColumnOptions.GColSm4, GridColumnOptions.GColMd6]">
                <EmptyComponent/>
            </GridColumn>);

        cut.MarkupMatches(
            @<div class="g-col-sm-4 g-col-md-6"></div>);
    }
}