@using RiRiSharp.Bootstrap.Forms.InputGroups
@inherits TestContext

@code {
    [Theory]
    [InlineData(InputGroupSize.Small, "input-group-sm")]
    [InlineData(InputGroupSize.Regular, "")]
    [InlineData(InputGroupSize.Large, "input-group-lg")]
    public async Task PassingParametersRendersIntoCorrectBsClass(InputGroupSize formSize, string expected)
    {
        // Arrange + Act
        var cut = Render(@<BsInputGroup><EmptyComponent/></BsInputGroup>);
        
        // Assert
        cut.MarkupMatches(
            $"""<div class="input-group {expected}" value=""></div>"""
        );
    }
}