@using RiRiSharp.Bootstrap.BaseComponents
@inherits BsChildContentComponent

<div @attributes="AdditionalAttributes" src="@(Src)" alt="@(Alt)" class="@(Classes)" @ref="HtmlRef">
    @(ChildContent)
</div>