@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent

<span @attributes="AdditionalAttributes" class="@(Type.ToBootstrapClass()) @(Classes)" @ref="HtmlRef">
    @(ChildContent)
</span>

@code {
    [Parameter] public BsHeadingType Type { get; set; }
}
