@inherits Wader.BaseComponents.BsChildContentComponent

@switch (Type)
{
    case BsListGroupItemType.ListItem:
        <li @attributes="RenderAttributes">
            @(ChildContent)
        </li>
        break;
    case BsListGroupItemType.Button:
        <button type="button" @attributes="RenderAttributes">
            @(ChildContent)
        </button>
        break;
    case BsListGroupItemType.Anchor:
        <a @attributes="RenderAttributes">
            @(ChildContent)
        </a>
        break;
    default:
        throw new ArgumentOutOfRangeException();
}