@using RiRiSharp.Bootstrap.Core.Layout.Clearfixes
@inherits TestContext

@code {
    [Fact]
    public void DefaultWorks()
    {
        // Arrange
        var cut = Render(
            @<Clearfix>
                <hr/>
            </Clearfix>
        );

        cut.Find("div").MarkupMatches(
            @<div class="grid" diff:ignoreChildren></div>
        );
    }

    [Theory]
    [InlineData(null)]
    [InlineData("")]
    [InlineData("aclass")]
    [InlineData("aclass bclass")]
    [InlineData("aclass blass class")]
    public void PassingClassesWorks(string classes)
    {
        // Arrange
        var cut = Render(
            @<Clearfix Classes="@(classes)">
                <hr/>
            </Clearfix>
        );

        // The space afterward is necessary 'cause it ensures the attribute class is created
        cut.Find("div").MarkupMatches(
            @<div class="grid @(classes)" diff:ignoreChildren></div>
        );
    }

    [Theory]
    [InlineData("testAttributeValue")]
    public void ExtraAttributesWorks(string attributeValue)
    {
        var cut = Render(
            @<Clearfix test-attribute="@(attributeValue)">
                <hr/>
            </Clearfix>
        );

        cut.Find("div").MarkupMatches(
            @<div class="grid" test-attribute="@(attributeValue)" diff:ignoreChildren></div>
        );
    }
}