@using RiRiSharp.Bootstrap.Layout.Columns
@inherits BunitContext

@code {
    [Fact]
    public void ColumnRenderingWorksInSingularForm()
    {
        var cut = Render(
            @<BsColumn ColOption="ColumnOptions.Col1">
                <EmptyComponent/>
            </BsColumn>);

        cut.MarkupMatches(
            @<div class="col-1"></div>);
    }

    [Fact]
    public void ColumnRenderingWorksInListForm()
    {
        var cut = Render(
            @<BsColumn ColOptionsList="[ColumnOptions.ColSm4, ColumnOptions.ColMd6]">
                <EmptyComponent/>
            </BsColumn>);

        cut.MarkupMatches(
            @<div class="col-sm-4 col-md-6"></div>);
    }

    [Fact]
    public void ListColumnOptionTakesPrecedenceOverSingularForm()
    {
        var cut = Render(
            @<BsColumn
                ColOption="ColumnOptions.Col1"
                ColOptionsList="[ColumnOptions.ColSm4, ColumnOptions.ColMd6]">
                <EmptyComponent/>
            </BsColumn>);

        cut.MarkupMatches(
            @<div class="col-sm-4 col-md-6"></div>);
    }

    [Fact]
    public void ColumnOffsetRenderingWorksInSingularForm()
    {
        var cut = Render(
            @<BsColumn OffsetOption="ColumnOptions.Col1">
                <EmptyComponent/>
            </BsColumn>);

        cut.MarkupMatches(
            @<div class="col offset-1"></div>);
    }

    [Fact]
    public void ColumnOffsetRenderingWorksInListForm()
    {
        var cut = Render(
            @<BsColumn OffsetOptionsList="[ColumnOptions.ColSm4, ColumnOptions.ColMd6]">
                <EmptyComponent/>
            </BsColumn>);

        cut.MarkupMatches(
            @<div class="col offset-sm-4 offset-md-6"></div>);
    }

    [Fact]
    public void ListColumnOffsetOptionTakesPrecedenceOverSingularForm()
    {
        var cut = Render(
            @<BsColumn
                OffsetOption="ColumnOptions.Col1"
                OffsetOptionsList="[ColumnOptions.ColSm4, ColumnOptions.ColMd6]">
                <EmptyComponent/>
            </BsColumn>);

        cut.MarkupMatches(
            @<div class="col offset-sm-4 offset-md-6"></div>);
    }
}