@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent

<div @attributes="RenderAttributes" data-bs-touch="@(EnableTouchAttributeValue)">
    <CascadingValue Value="CarouselContext">
        @(ChildContent)
    </CascadingValue>
</div>