@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent

<div @attributes="AdditionalAttributes" class="@(Classes)" data-bs-touch="@(EnableTouchAttributeValue)" @ref="HtmlRef">
    <CascadingValue Value="@(CarouselContext)">
        @(ChildContent)
    </CascadingValue>
</div>