@using RiRiSharp.Bootstrap.BaseComponents
@inherits BsChildContentComponent

<button type="button" @attributes="AdditionalAttributes" class="@(Classes)" @onclick="PrevAsync" @ref="HtmlRef">
    @(ChildContent)
</button>