@using RiRiSharp.Bootstrap.Core.Layout.Columns
@inherits TestContext

@code {
    [Fact]
    public void ColumnRenderingWorksInSingularForm()
    {
        var cut = Render(
            @<Column ColOption="ColumnOptions.Col1">
                <EmptyComponent/>
            </Column>);

        cut.MarkupMatches(
            @<div class="col-1"></div>);
    }

    [Fact]
    public void ColumnRenderingWorksInListForm()
    {
        var cut = Render(
            @<Column ColOptionsList="[ColumnOptions.ColSm4, ColumnOptions.ColMd6]">
                <EmptyComponent/>
            </Column>);

        cut.MarkupMatches(
            @<div class="col-sm-4 col-md-6"></div>);
    }

    [Fact]
    public void ListColumnOptionTakesPrecedenceOverSingularForm()
    {
        var cut = Render(
            @<Column
                ColOption="ColumnOptions.Col1"
                ColOptionsList="[ColumnOptions.ColSm4, ColumnOptions.ColMd6]">
                <EmptyComponent/>
            </Column>);

        cut.MarkupMatches(
            @<div class="col-sm-4 col-md-6"></div>);
    }

    [Fact]
    public void ColumnOffsetRenderingWorksInSingularForm()
    {
        var cut = Render(
            @<Column OffsetOption="ColumnOptions.Col1">
                <EmptyComponent/>
            </Column>);

        cut.MarkupMatches(
            @<div class="offset-1"></div>);
    }

    [Fact]
    public void ColumnOffsetRenderingWorksInListForm()
    {
        var cut = Render(
            @<Column OffsetOptionsList="[ColumnOptions.ColSm4, ColumnOptions.ColMd6]">
                <EmptyComponent/>
            </Column>);

        cut.MarkupMatches(
            @<div class="col offset-sm-4 offset-md-6"></div>);
    }

    [Fact]
    public void ListColumnOffsetOptionTakesPrecedenceOverSingularForm()
    {
        var cut = Render(
            @<Column
                OffsetOption="ColumnOptions.Col1"
                OffsetOptionsList="[ColumnOptions.ColSm4, ColumnOptions.ColMd6]">
                <EmptyComponent/>
            </Column>);

        cut.MarkupMatches(
            @<div class="col offset-sm-4 offset-md-6"></div>);
    }
}