@inherits RiRiSharp.Bootstrap.BaseComponents.BsChildContentComponent

<span @attributes="AdditionalAttributes" class="text-decoration-line-through @(Classes)" @ref="htmlRef">
    @(ChildContent)
</span>